<!---POSSIBLE MATCH-->
<h2>Possible match:</h2>
<style>
	body {background-color: rgb(74, 162, 173);}
	h2   {color: rgba(33, 45, 109, 0.966);}
    h2   {text-align: center;}
  </style>
<p>The person name: <%= user.name %></p>
<br><br>
The person is interested in: <p><%= user.interest %></p>

<div>
Like:  
	<form action="/matches/<%= user.id %>/<%= user.name %>" method="POST">
		<input type="hidden" name="what_to_do" id ="what_to_do" value="match">
		<button type="submit"> here.</submit>
	</form>
</div>

<div>
Skip:  
	<form action="/matches/<%= user.id %>/<%= user.name %>" method="POST">
		<input type="hidden" name="what_to_do" id ="what_to_do" value="skip">
		<button type="submit"> here.</submit>
	</form>
</div>

<div>
	Go back to your profile <a href="/profile.ejs"> here. </a>
	</div>
